html, body {
	height: 100%;
}

body {
	font: 'Raleway', sans-serif;
	color: rgba(0,0,0,0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	top: 15%;
	  -ms-background: linear-gradient(to right, #C5A9DF, #EBC030); /* IE */
  	 -moz-background: linear-gradient(to right, #C5A9DF, #EBC030); /* FF */
  -webkit-background: linear-gradient(to right, #C5A9DF, #EBC030); /* Safari and Chrome */
       -o-background: linear-gradient(to right, #C5A9DF, #EBC030); /* Opera */
  	      background: linear-gradient(to right, #C5A9DF, #EBC030);	
}

h1 {
	font: 600 3.5em 'Raleway', sans-serif;
	color: rgba(0,0,0,0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	width: 100%;
}

@media(max-width: 700px) {
	h1, body {
		color: rgba(0,0,0,.8);
	}
	h1 {
		font-size: 1.3em;
	}
	h2 {
		font-size: 1.2em;
	}
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
	color: rgba(0,0,0,.7);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

.color {
	width: 80px;
	height: 50px;
}

input, button {
	padding: 10px;
	border-radius: 10px;
	opacity: .7;
	border: 1px solid black;
	cursor: pointer;
}

input:hover, button:hover {
	opacity: 1;
}

.checkbox {
	 /*Double-sized Checkboxes 
      -ms-transform: scale(2); /* IE */
  	 -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
       -o-transform: scale(2); /* Opera */
  	      transform: scale(2);	

  	      opacity: 0.7;
}

.checkbox:checked {
	opacity: 1;
}